<div class="col-md-9 offset-md-3 mt-5">
    <div class="card">
        <h4 class="card-header">Komkom</h4>
        <div class="card-body">
  
  <form [formGroup]="addCompte">
      <div class="form-group">
          <label for="">Montant</label>
          <input required minlength="3" type="number" formControlName="montant" class="form-control" placeholder="montant" id="montant">
        </div>
        <div class="form-group">
            <label for="">Ninea</label>
            <input required minlength="2" type="text" formControlName="ninea" class="form-control" placeholder="ninea" id="ninea">
          </div>

          <div class="form-group">
              <label for="">Registre de commerce</label>
              <input required minlength="3" type="text" formControlName="rc" class="form-control" placeholder="rc" id="rc">
            </div>

            <div class="form-group">
              <label for="">Username</label>
              <input required type="text" formControlName="username" class="form-control" id="username">
            </div>

            <div class="form-group">
                <label for="">Password</label>
                <input required type="password" formControlName="password" class="form-control" id="password">
            </div>

            <div class="form-group">
                <label for="">Role </label>
                <select formControlName="role"> 
                  <option  *ngFor="let role of roles" value="/api/roles/{{ role.id }}"> {{role.libelle}}</option>
                </select> 
            </div>

            <div class="form-group">
                <label for="">Statut</label>
                <input required type="text" formControlName="isActive" class="form-control" id="isActive">
              </div>

              <div class="form-group">
                <label for="">Nom complet</label>
                <input required type="text" formControlName="nomComplet" class="form-control" id="nomComplet">
              </div>

            <button class="btn btn-success" type="submit" (click)="onSaveCompte(addUser)">Ajouter</button>
  </form>
  </div>