<div id="container">
    <nav>
        <ul>
            <li>
                <a href="#">Home</a>
            </li>
            <li>
                <a href="#">Users</a>
                <!-- First Tier Drop Down -->
                <ul>
                    <li><a href="/addUser">Add user</a></li>
                    <li><a href="/utilisateur">List Users</a></li>

                </ul>
            </li>
            <li>
                <a href="#">Roles</a>
                <!-- First Tier Drop Down -->
                <ul>
                    <li><a href="/role">Afficher roles</a></li>
                    <li><a href="#">Add Roles</a></li>

                </ul>
            </li>
            <li>
              <a href="#">Compte</a>
              <!-- First Tier Drop Down -->
              <ul>
                  <li><a href="/compte">Afficher comptes</a></li>
                  <li><a href="/addCompte">Ajouter compte</a></li>

              </ul>
          </li>
            <li>
                <a href="/login">Login</a>
            </li>

        </ul>
    </nav>
</div>
  <!-- main app container -->
<div class="container">
  <router-outlet></router-outlet>
</div>